{% ckan_extends %}

{% block subtitle %}{{ _('Topics') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Topics'), controller='group', action='index' %}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Topic'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary %}
  <div class="primary span12 main-responsive-panel">
     {% block primary_content %}
         {{ super() }}
     {% endblock %}
   </div>
{% endblock %}

{% block secondary_content %}
{% endblock %}

