{% ckan_extends %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
{#
  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}
#}
{% endblock %}



{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="icon-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  <div class="package-overview">
    <h1>
      {% block page_heading %}
          {{ super() }}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {{ super() }}
    {% endblock %}
  </div>
  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>
{% endblock %}
