{% ckan_extends %}

  {% block search_input %}
    <div class="search-input control-group {{ search_class }}">
      <input type="text" class="search" name="q" value="{{ query }}" autocomplete="off" id="dataset-search-input" placeholder="{{ placeholder }}" title="{{_('Type search term here')}}">
      {% block search_input_button %}
      <button type="submit" value="search">
        <i class="icon-search"></i>
        <span>{{ _('Submit') }}</span>
      </button>
      {% endblock %}
    </div>
  {% endblock %}