{% ckan_extends %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Administer CKAN') }}
    </h2>
    <div class="module-content">

      {% set docs_url = "http://docs.ckan.org/en/{0}/sysadmin-guide.html".format('latest') %}
      
      {% if zendesk_url %}
            {% set zendesk_url = h.zendesk_jwt_url() %}
      {% endif %}
      {% trans %}
        <p>As a sysadmin user you have full control over this CKAN instance. Proceed with care!</p>
        <p>For guidance on using sysadmin features, see the CKAN  <a href="{{ docs_url }}" target="_blank">sysadmin guide</a></p>
      {% endtrans %}
      {% if zendesk_url %}
        <hr>
        <p>To create a support ticket, click <a href="{{ zendesk_url }}" target="_blank">here</a>.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
