{% ckan_extends %}

{% block package_info %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            <div class="image">
              <img src="{{ pkg.icon_url or h.url_for_static('/img/dataset_background.svg') }}" width="200" />
            </div>
            {{ super() }}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
