{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/main.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400italic,400,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  {% resource 'cob_theme/favorite.js' %}
  {% resource 'cob_theme/seal.js'%}

{% endblock %}
