{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/main.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400italic,400,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">

  {# Backward support for font-awesome 3.2.1 for ckan versions below 2.7 #}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  {% resource 'cob_theme/favorite.js' %}
  {% resource 'cob_theme/seal.js'%}

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

{% endblock %}
