{% ckan_extends %}

{% block primary %}
  <div class="primary span9 main-responsive-panel">
    {#
      The primary_content block can be used to add content to the page.
      This is the main block that is likely to be used within a template.

      Example:

      {% block primary_content %}
         <h1>My page content</h1>
         <p>Some content for the page</p>
      {% endblock %}
     #}
     {% block primary_content %}
         {{ super() }}
     {% endblock %}
   </div>
{% endblock %}
{% block secondary %}
  <aside class="secondary span3 aside-fixed-panel">
    {#
    The secondary_content block can be used to add content to the
    sidebar of the page. This is the main block that is likely to be
    used within a template.

    Example:

      {% block secondary_content %}
        <h2>A sidebar item</h2>
        <p>Some content for the item</p>
      {% endblock %}
    #}
    {% block secondary_content %}
    {% endblock %}
  </aside>
{% endblock %}
